* {
  margin: 0;
  padding: 0;
}

.encriptador-container {
  font-family: Inter;
}

.flex-container {
  background: #f3f5fc;
  display: flex;
}

header {
  background: #f3f5fc;
}

.logo {
  width: 90px;
  padding: 50px;
}

textarea {
  margin: 40px 250px;
  width: 60%;
  background: transparent;
  color: #0a3871;
  border: none;
  resize: none;
}

textarea:focus {
  outline: none;
}

.text-ingrese {
  font-size: 20px;
}

::placeholder {
  color: #0a3871;
  font-family: Inter;
  font-size: 20px;
}

.informacion {
  font-size: 12px;
  position: relative;
  left: 250px;
  top: 50px;
}

.btn {
  position: relative;
  width: 680px;
  height: 67px;
  left: 240px;
  top: 80px;
}

.btnEncriptar {
  height: 50px;
  width: 200px;
  border-radius: 15px;
  background: #0a3871;
  color: #d8dfe8;
}

.btnEncriptar:active {
  background: #343a40;
}

.btnDesencriptar {
  height: 50px;
  width: 200px;
  border-radius: 15px;
  background: #d8dfe8;
  color: #0a3871;
}

.btnDesencriptar:active {
  background: #343a40;
}

aside {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 600px;
  background: white;
  position: relative;
  bottom: 120px;
  border-radius: 15px;
  text-align: center;
}

.img-muñeco {
  width: 200px;
  position: relative;
  top: 150px;
  background: transparent;
}

.msg-box {
  position: relative;
  top: 300px;
}

.text-input-salida {
  border: 0;
  font-size: 20px;
}

.mensaje {
  position: relative;
  bottom: 400px;
  font-weight: 600;
  background: transparent;
  color: #343a40;
  font-size: 24px;
  line-height: 120%;
}

.mensaje2 {
  position: relative;
  bottom: 400px;
  font-weight: 100;
  background: transparent;
  color: #343a40;
  font-size: 14px;
  line-height: 120%;
}

.text-aside {
  position: relative;
  top: 180px;
  right: 150px;
  font-size: 15px !important;
}

.text-input-salida {
  position: relative;
  right: 190px;
  bottom: 200px;
}

.copiar {
  display: none;
}

.btncopiar {
  height: 50px;
  width: 200px;
  border-radius: 15px;
  background: #d8dfe8;
  color: #0a3871;
  position: relative;
  top: 215px;
}

.btncopiar:active {
  background: #343a40;
}
footer {
  background-color: #0a3871;
  width: auto;
  color: #ffffff;
}

footer p {
  margin-left: 30px;
  padding: 20px;
  font-size: 15px;
}

